html {
    scroll-behavior: smooth;
}


/*  NAV  */
#mainNavbar {
    padding: 20px 50px;
    opacity: .5;
}

#mainNavbar a {
    margin: 0px 15px;
    color: #4d4d4d;
}

#mainNavbar:hover {
    transition: 500ms ease-in-out;
    background: linear-gradient(0deg, #ffffff00 0%, #ffffff 80%);
    opacity: 1;
}

#mainNavbar a:hover {
    color: #545bf6;
}




/* TEXT */
h1,
h2,
h3,
h4,
p {
    font-family: 'Open Sans';
    color: #4d4d4d;
}

h1,
h2 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

p {
    font-size: 14px;
}

a {
    color: #545bf6;
}

/*  SPACING  */
.container {
    padding: 200px;
}

.space {
    padding: 80px;
}

.space50 {
    padding: 50px 0px;
}

/* FOOTER */
#footer {
    text-align: center;
}

#footer i {
    padding: 10px;
    font-size: 18px;
    color: #4d4d4d;
}

#footer i:hover {
    color: #A7AEE5;
}

/* MICROINTERACTIONS */
.enlarge:hover {
    transform: scale(1.1);
    transition: all 200ms ease-out;
    box-shadow: 0px 0px 40px rgba(78, 86, 245, 0.2);
}

/*  LINKS HIGHLIGHT */
a,
a:link {
    text-decoration: none;
    color: #545bf6;
}

.highlight {
    display: inline-block;
    color: #A7AEE5;
    position: relative;
    z-index: 0;
}

.highlight::after {
    position: absolute;
    z-index: -1;
    bottom: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    height: 1px;
    background: rgba(167, 174, 229, 0.6);
    transition: 300ms;
    text-decoration: none;
}

.highlight:hover {
    transition: all 300ms;
}

.highlight:hover::after {
    height: 50%;
    width: 120%;
}