html {
  scroll-behavior: smooth;
}

/* TEXT */
body p, li {
  font-family: 'Lora', serif;
  font-size: 15px;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: bold;
}

.caption {
  font-style: italic;
  color: #888;
  font-size: 80%;
  text-align: center;
}

/* SPACING */
.space {
  padding-top: 100px;
}

/* NAVBAR */
#mainNavbar {
  padding: 20px;
  background: linear-gradient(0deg, rgba(92,191,165,0) 0%, rgba(255,255,255,1) 100%);
}

#mainNavbar a {
  padding: 0px 10px;
  color: #888;
  font-family: 'Poppins', sans-serif;
}

#mainNavbar:hover {
  transition: 500ms ease-in-out;
background: #fff;
}

#mainNavbar a:hover {
  color: #000;
}

/* NEXT PROJ SECTION */
.more a {
  color: #000;
}

/* FOOTER */
.footer {
  padding-bottom: 100px;
text-align: center;
font-size: 90%;
}

.footer hr {
  border: 0.4px solid #888;
  opacity: 0.3;
  margin: 30px 0px;
}

.footer a {
  padding: 0px 10px;
  color: #888;
}

/* SOCIAL LINKS */
.social {
  padding: 0;
  margin-top: 15px;
}

.social li {
  display: inline-block;
  padding-right: 20px;
}

/* LINKS, HIGHLIGHT ANIMATION, HOVER */
a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.highlight {
  display: inline-block;
  color:#74a1bb;
  transition: color 300ms, text-shadow 300ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.highlight::after {
  position: absolute;
  z-index: -1;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  height: 1px;
  background-color:rgba(189, 211, 224, 0.45);
  transition: 300ms;
  text-decoration: none;
}

.highlight:hover {
  color: #000;;
  transition: all 300ms;
}

.highlight:hover::after {
  height: 60%;
  width: 100%;
}

/* IMAGES, ICONS */
.icon {
  font-size: 18px;
}

.icon:hover {
  transition: 500ms;
}

/* ANIMATIONS */
.enlarge:hover {
    transform: scale(1.3);
    transition: all 200ms ease-out;
  }

/* FADE-IN ANIMATION */
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*  */
@media only screen and (max-width: 540px) {
  img {
    flex-direction: column;
    padding: 35px;
  }
}


