
.proj-header {
    margin: 150px 0px 140px 180px;
}

#graphicsIsotope img {
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.05);
}

#graphicsIsotope {
  margin: 100px;
}

.proj-header h1 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

h2, h3 {
    font-size: 20px;
}

h4 {
    color: #A6CCE7;
    font-weight: bold;
    font-size: 14px;
}

h5 {
    color: #999;
    font-size: 14px;
}

img {
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.enlarge:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);

    transition:transform 0.25s ease;

    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.05);
    position: absolute;
    z-index: 1;
}

.more {
    font-size: 150%;
    opacity: 0.3;
}

.more:hover {
    opacity: 1;
    transition: 500ms ease-in-out;
}

/*  */
@media (min-width: 1300px) {
    .description {
        padding: 50px 250px;
    }
  }
