h2 {
 color: #027a2f;
 margin-left: 1em;
 margin-top: 1em;
 margin-bottom: 1em;
 font-size: 50px;
}

/* Header */
.head img {
  filter: brightness(50%);
}

.head {
  color: #ffffff;
}

.head h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.head h3 {
  font-weight: 200;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head hr {
  position: absolute;
  top: 51%;
  left: 30%;
  background-color: #ffffff;
  height: 2px;
  width: 40%
}

.head i {
  position: absolute;
  top: 92%;
  left: 50%;
  color: #ffffff;
}

/* offerings */
.offerings figcaption {
  margin-left: .8em;
}

.offerings h4 {
  margin-top: .7em;
  font-size: 25px;
}

.offerings p {
  padding-top: .5em;
  font-size: 13px;
  font-weight: 200;
  line-height: 2em;
}

#offer1 h4, #offer3 h4 {
  color: #027a2f;
}

.offerrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 6em;
}

#offer1 {
  background-color: #fafafa;
  padding: 1em;
  padding-bottom: .5em;
  box-shadow: 0px 1px 8px #494949;
}

#offer2 {
  background-color: #494949;
  padding: 1em;
  box-shadow: 0px 1px 8px #494949;
}

#offer2 figcaption {
  color: #ffffff;
}

#offer3 {
  background-color: #fafafa;
  padding: 1em;
  box-shadow: 0px 1px 8px #494949;
}

/* facts */
.row {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.facts h3 {
  color: #027a2f;
  font-size: 45px;
  padding-top: .5em;
}

.facts hr {
  background-color: #027a2f;
  height: 1px;
  width: 90%;
  margin-left: 1.3em;
}

.facts {
 margin-top: 6em;
 background-color:#ffffff;
 height: 10em;
 width:24em;
 text-align: center;
 border-radius: 20px;
 box-shadow: 0px 1px 8px #494949;
 margin-bottom: 6em;
}

/* educated */
.edurow {
  display: flex;
  flex-direction: row;

}
.educated {
  position: relative;
}

.educated img {
  filter: brightness(40%);
}

.educated h3 {
  font-size: 50px;
}

.educated h4 {
  font-size: 30px;
}

#chapter0 figcaption {
  position: absolute;
  top: 20%;
  color: #ffffff;
  margin-left: 3em;
}

#chapter1 figcaption {
  position: absolute;
  top: 20%;
  color: #ffffff;
  margin-left: 3em;
}

#chapter2 figcaption {
  position: absolute;
  top: 20%;
  color: #ffffff;
  margin-left: 3em;
}

/* end */
.end {
  text-align: center;
  padding: 15em;
}

.end h1 {
  background-color: #ffffff;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}

.end button {
  font-size: 25px;
  border-radius: 30px;
  width: 9em;
  padding: .5em;
  background-color: #494949;
  color: #ffffff;
  font-weight: 100;
}

#initiative {
  color: #027a2f;
}
